body{
    background-color: yellowgreen;
    background: linear-gradient(yellowgreen,yellow);
}

.main-nav1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    
    
}
 

.push1  {
    list-style: none;
     
}

.aul1 {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: fantasy;

}

footer  {
    width: 500px;
    padding: 20px;
}

.pnav{
    font-size: 20px;
}

img {
    border-radius: 30px;
}

h1,h2,h3,h4,p  {
    color:white;
}

h1 {
    font-size: 100px;
}

h2,h3,h4 {
    font-size: 20px;
    font-style: italic;
}

.t1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    justify-content: space-between;
    align-items: stretch;
}

.t2 {
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}



a  {
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: white;
    font-size: 30px;
}