body{
    
    background: linear-gradient(blue,white);
}


img {
    border-radius: 30px;
}

h2,h3,h4,p  {
    color: black;
}

h1 {
    color:white;
    font-size: 100px;
}

h2,h3,h4 {
    font-size: 20px;
    font-style: italic;
}

.t1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    justify-content: space-between;
    align-items: stretch;
}

.t2 {
    background-color: yellow;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.t3 {
    background-color:pink;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.t4 {
    background-color:turquoise;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

  

a  {
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: white;
    font-size: 30px;
}
.main-nav2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    
    
}
 

.push2 {
    list-style: none;
     
}

.aul2 {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: fantasy;

}

footer  {
    width: 500px;
    padding: 20px;
}

.pnav2{
    font-size: 20px;
}